<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <h2>CONTACTS</h2>
    <input type="button" value="Add Contact">
    <ul>
        <% for( let i = 0; i < contacts.length; i++ ) { %>
            <li>
                <p>Nama: <%= contacts[i].name %></p>
                <p>NoHP: <%= contacts[i].phone %></p>
                <p>Negara: <%= contacts[i].country %></p>
                <input type="button" value="Edit">
                <input type="button" value="Delete">
                <hr>
            </li>
        <% } %>
    </ul>
</body>
</html>